html {
  scroll-behavior: smooth;
}
body {
  background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
}

.nav-container {
  background-image: url("images/main-banner.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh !important;
}
.cover-bg {
  background: rgba(0, 0, 0, 0.5);
  height: 50vh !important;
}
.nav-link {
  color: white;
}
